.whatsapp-btn {
    position: fixed;
    z-index: 1000;
    right: 60px;
    bottom: 60px;
    display: block;
    max-width: 60px;
}
.title {
    @include em(36px);
    color: #000;
    font-weight: 700;
    text-align: center;
    &.-tour-inner {
        padding: 0 30px;
        text-align: left;
    }
    span {
        font-weight: 300;
    }
}
.text {
    @include em(36px);
    color: #000;
    font-weight: 300;
    text-align: center;
}
.swiper-pagination {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 10px !important;
        &-active {
            background-color: #000;
        }
    }
}
@media screen and (max-width: 769px) {
    .title {
        @include em(20px);
        margin-bottom: 10px;
        &.-tour-inner {
            padding: 0 20px;
        }
    }
    .text {
        padding: 0 10px;
        @include em(16px);
    }
    .whatsapp-btn {
        display: none;
    }
}
