.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &-content {
        flex: 1;
        padding-top: 125px;
    }
}
.row {
    display: flex;
}
.col {
    flex: 1;
    display: flex;
    align-items: flex-start;
}
.-jcc {
    justify-content: center;
}
.-jcfe {
    justify-content: flex-end;
}
.-jcsb {
    justify-content: space-between;
}
.-aic {
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .row {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 991px) {
    .wrapper-content {
        padding-top: 58px;
    }
}
@media screen and (max-width: 426px) {
    .col {
        flex: initial;
        width: 100%;
    }
}