.cartAddModal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: flex-end;
    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.5);
        top: 0;
        left: 0;
    }
    &-inner {
        padding: 30px 10px;
        position: relative;
        z-index: 1;
        border-radius: 10px 10px 0 0;
        background: #fff;
        width: 100%;
    }
    .cart-list {
        display: block;
    }
    &-title {
        @include em(14px);
        font-weight: 700;
        color: #000;
    }
    &-text {
        @include em(12px);
        font-weight: 400;
        color: #909090;
        display: flex;
        justify-content: space-between;
    }
    &-remove {
        margin-top: 30px;
        button {
            box-shadow: 0 3px 16px #9CC565;
            display: block;
            padding: 10px 0;
            border: none;
            border-radius: 4px;
            background: var(--color-base);
            color: #fff;
            @include em(14px);
            font-weight: 700;
            width: 100%;
        }
    }
}