.cart {
    .row {
        max-width: 1180px;
        margin: auto;
    }
    .title {
        margin: 40px 0;
    }
    &-mobAdd {
        display: none;
    }
    &-left {
        flex: 1;
        padding-right: 25px;
    }
    &-right {
        width: 290px;
    }
    &-item {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #EAEAEA;
        display: flex;
        position: relative;
        &:last-child {
            border-bottom: none;
        }
    }
    &-remove {
        border: none;
        background: transparent;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 5px;
        right: 0;
        padding: 0;
        cursor: pointer;
    }
    &-img {
        width: 250px;
        flex-shrink: 0;
        img {
            display: block;
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    &-itemRight {
        flex: 1;
        padding-left: 34px;
    }
    &-nameWrp {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
        .cart-title {
            flex: 1;
        }
    }
    &-price {
        flex-shrink: 0;
        @include em(24px);
        font-weight: 700;
        color: #000;
    }
    &-date {
        display: none;
    }
    &-title {
        @include em(16px);
        font-weight: 700;
        color: #000;
    }
    &-list {
        margin-top: 20px;
    }
    &-listItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        &.-disabled {
            opacity: 0.3;
        }
    }
    &-label {
        display: flex;
        cursor: pointer;
        input {
            display: none;
        }
        input:checked {
            & ~ .cart-checkmark {
                background: var(--color-base);
            }
        }
    }
    &-checkboxText {
        @include em(14px);
        font-weight: 400;
        color: #000;
        user-select: none;
    }
    &-extraPrice {
        @include em(14px);
        font-weight: 700;
        color: #000;
    }
    &-checkmark {
        width: 16px;
        height: 16px;
        border: 1px solid #D0D0D0;
        display: block;
        border-radius: 2px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1281px) {
    .cart {
        .row {
            max-width: 1090px;
        }
    }
}
@media screen and (max-width: 769px) {
    .cart {
        .row {
            max-width: 100%;
            padding: 0 10px;
        }
        &-mobAdd {
            display: block;
            margin-top: 20px;
            button {
                border: none;
                width: 100%;
                padding: 12px 0;
                border-radius: 4px;
                color: #fff;
                box-shadow: 0 3px 16px #9CC565;
                @include em(16px);
                font-weight: 700;
                background: var(--color-base);
            }
        }
        &-left {
            padding-right: 0;
            width: 100%;
            order: 2;
        }
        &-right {
            order: 1;
            width: 100%;
        }
        &-list,
        &-remove {
            display: none;
        }
        &-nameWrp {
            padding-bottom: 0;
            padding-right: 0;
            margin-bottom: 0;
            border-bottom: none;
            flex-wrap: wrap;
            & ~ .cart-title {
                display: none;
            }
        }
        &-item {
            flex-wrap: wrap;
            width: 100%;
        }
        &-img,
        &-itemRight,
        &-title,
        &-price {
            width: 100%;
        }
        &-img {
            img {
                height: 42vh;
            }
        }
        &-price {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        &-itemRight {
            padding-left: 0;
            margin-top: 20px;
        }
        &-date {
            display: inline-block;
            font-size: 14px;
            color: #909090;
            font-weight: 400;
        }
    }
}
@media screen and (max-width: 426px) {
    .cart {
        .title {
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 376px) {
   .cart {
        &-price {
            @include em(20px);
        }
    }
}