.cartRemove {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    &.-open {
        display: flex;
    }
    .overlay {
        opacity: 1;
    }
    &-inner {
        background: #fff;
        padding: 30px;
        padding-top: 40px;
        border-radius: 8px;
        box-shadow: 0 3px 36px rgba(#000, 0.6);
        position: relative;
        z-index: 2;
        text-align: center;
    }
    &-title {
        @include em(24px);
        font-weight: 700;
        color: #000;
        margin-bottom: 45px;
    }
    &-btnWrp {
        display: flex;
        justify-content: space-between;
    }
    &-btn {
        background: var(--color-base);
        padding: 10px 0;
        width: 220px;
        text-align: center;
        @include em(16px);
        font-weight: 400;
        color: #fff;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px 16px #9CC565;
        &.-inverted {
            background: #fff;
            border: 1px solid var(--color-base);
            color: var(--color-base);
            margin-left: 50px;
            box-shadow: none;
        }
    }
}