.cartTotal {
    box-shadow: 0 3px 16px #DFDFDF;
    padding: 40px 25px;
    .row {
        flex-wrap: wrap;
    }
    &-title {
        @include em(14px);
        font-weight: 400;
        color: #909090;
        margin-bottom: 24px;
    }
    &-price {
        @include em(36px);
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;
    }
    &-button {
        @include em(14px);
        font-weight: 700;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        background: var(--color-base);
        border: none;
        box-shadow: 0 3px 16px #9CC565;
        border-radius: 5px;
    }
}
@media screen and (max-width: 769px) {
    .cartTotal {
        box-shadow: none;
        padding-left: 0px;
        padding-right: 0px;
        .row {
            padding: 0;
            align-items: center;
        }
        &-price {
            margin-bottom: 0;
            margin-right: 45px;
        }
    }
}
@media screen and (max-width: 376px) {
    .cartTotal {
        &-price {
            @include em(20px);
        }
    }
}