.advantages {
    position: relative;
    padding-top: 130px;
    text-align: center;
    &-bg {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: auto;
    }
    .text {
        margin-bottom: 40px;
    }
    &-subtitle {
        @include em(16px);
        font-weight: 600;
        color: #000;
        margin-bottom: 12px;
        margin-top: 28px;
    }
    &-text {
        @include em(16px);
        font-weight: 400;
        color: #000;
        max-width: 230px;
    }
    &-icon {
        min-height: 100px;
    }
    .row {
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }
    .col {
        width: 315px;
        height: 387px;
        padding-top: 90px;
        justify-content: center;
        flex: initial;
        border-right: 1px solid #D8D8D8;
        &:last-child {
            border-right: none;
        }
    }
}
@media screen and (max-width: 1200px) {
    .advantages {
        .col {
            width: auto;
            flex: 1;
        }
    }
}
@media screen and (max-width: 768px) {
    .advantages {
        padding-top: 80px;
        .col {
            width: 50%;
            height: 50vh;
            padding-top: 10vh;
            flex: initial;
        }
    }
}
@media screen and (max-width: 426px) {
    .advantages {
        display: none;
    }
}