.footer {
    position: relative;
    text-align: center;
    &.-full-height {
        min-height: calc(100vh - 125px);
    }
    .overlay {
        opacity: 1;
    }
    &-top {
        padding: 50px 0 80px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    &-title {
        @include em(36px);
        font-weight: 700;
        color: #fff;
    }
    &-subtitle {
        @include em(36px);
        font-weight: 400;
        color: #fff;
        margin-bottom: 60px;
    }
    &-inner {
        position: relative;
        z-index: 2;
        padding-top: 47px;
    }
    &-button {
        margin: auto;
        width: 640px;
        border-radius: 8px;
        color: #fff;
        @include em(24px);
        font-weight: 400;
        text-align: center;
        padding: 20px 0;
        border: none;
        background: var(--color-base);
    }
    &-input {
        display: block;
        width: 640px;
        border: 1px solid #fff;
        border-radius: 8px;
        background: rgba(#fff, 0.1);
        text-align: center;
        padding: 20px 0;
        margin: auto;
        margin-bottom: 10px;
        color: #fff;
        @include em(18px);
        font-weight: 400;
        &::placeholder {
            color: #fff;
            opacity: 1;
        }
    }
    &-link {
        font-size: 16px;
        font-weight: 400;
        color: #707070;
        line-height: 1.4;
        transition: color 0.3s ease;
        &:hover {
            color: #fff;
        }
    }
    &-bot {
        background: #000;
        padding: 26px 100px 32px;
        &-link {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            margin-right: 76px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-txt-wrp {
            height: 75px;
            overflow-y: auto;
            text-align: left;
            margin-top: 40px;
            padding-right: 10px;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #f5f5f5;
            }
            &::-webkit-scrollbar {
                width: 6px;
                background-color: #f5f5f5;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--color-base);
            }
        }
    }
    .container {
        max-width: 1180px;
        margin: auto;
        width: 100%;
        padding: 25px 0;
    }
    .col {
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
            .footer-text {
                max-width: 393px;
            }
        }
    }
    &-phone {
        color: var(--color-base);
        @include em(16px);
        font-weight: 400;
    }
    &-phoneText {
        color: #fff;
        opacity: 0.5;
        font-weight: 400;
        @include em(16px);
        margin-bottom: 20px;
    }
    &-text {
        @include em(16px);
        font-weight: 400;
        color: #fff;
        max-width: 316px;
        &.-mt {
            display: block;
            margin-top: 16px;
        }
        a {
            color: #fff;
        }
    }
    &-social {
        display: block;
        margin-top: 20px;
    }
    &-logo {
        @include em(36px);
        color: #fff;
        font-weight: 300;
        margin-bottom: 17px;
        display: inline-block;
        b {
            font-weight: 700;
        }
    }
}
@media screen and (max-width: 1600px) {
    .footer {
        &-bot-link {
            margin-right: 30px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .footer {
        .container {
            padding: 20px 10px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .footer {
        &.-tourInner {
            .footer-bot {
                padding-bottom: 100px;
            }
        }
        &-bot {
            padding: 26px 30px;
            padding-bottom: 100px;
            &-link {
                margin-right: 10px;
            }
        }
    }
}
@media screen and (max-width: 769px) {
    .footer {
        height: auto;
        &.-full-height {
            .footer-title {
                @include em(24px);
                line-height: 1.4;
            }
            .footer-subtitle {
                @include em(18px);
                line-height: 1.4;
                margin-top: 10px;
            }
        }
        &-title {
            @include em(24px);
            line-height: 1.2;
            margin-bottom: 10px;
        }
        &-subtitle {
            @include em(16px);
        }
        &-top {
            padding: 30px 0 15px;
        }
        &-bot {
            .col:first-child,
            .col:last-child {
                text-align: center;
                justify-content: center;
                flex: initial;
                width: 100%;
            }
            .col:last-child {
                margin-top: 20px;
            }
            &-nav {
                display: none;
            }
            .footer-text {
                line-height: 1.4;
            }
        }
        &-phone {
            margin-bottom: 16px;
        }
        &-logo {
            font-size: 1.5em;
        }
        &-inner {
            padding: 0 10px;
        }
        &-input,
        &-button {
            font-size: 1em;
            width: 80%;
        }
    }
}
@media screen and (max-width: 426px) {
    .footer {
        &-title,
        &-subtitle {
            text-align: left;
        }
        &-subtitle {
            margin-bottom: 30px;
        }
        &-input,
        &-button {
            width: 100%;
            padding: 15px 0;
        }
        &-bot {
            padding: 30px 25px 100px;
        }
        &-text {
            opacity: 0.5;
        }
        .col {
            justify-content: flex-start;
            &:last-child {
                margin-top: 15px;
            }
        }
    }
}
