.gallery {
    .row {
        flex-wrap: wrap;
    }
    .col {
        width: 25%;
        flex: initial;
        cursor: pointer;
    }
    .col:hover {
        .gallery-title {
            opacity: 1;
            transform: translateY(0);
        }
        .gallery-blockImg {
            transform: scale(1.05);
        }
        .overlay {
            opacity: 1;
        }
    }
    .title {
        margin-top: 30px;
    }
    .text {
        margin-bottom: 30px;
    }
    &-btnWrp {
        display: none;
    }
    &-block {
        position: relative;
        width: 100%;
        height: 42vh;
        overflow: hidden;
    }
    &-blockImg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
        will-change: transform;
        backface-visibility: hidden;
    }
    &-inner {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        text-align: center;
        @include em(24px);
        font-weight: 700;
        color: #fff;
        max-width: 80%;
        user-select: none;
        transition: all 0.4s ease;
        opacity: 0;
        transform: translateY(20px);
    }
}
@media screen and (max-width: 1024px) {
    .gallery {
        &.-tourInner {
            .gallery-btnWrp {
                display: none;
            }
        }
        .title {
            margin-top: 10px;
        }
        .col {
            width: 50%;
        }
        &-block {
            height: auto;
            .overlay {
                opacity: 0 !important;
            }
        }
        &-title {
            text-shadow: 0 0 6px #010401;
        }
        &-btnWrp {
            display: block;
            padding: 10px;
        }
        &-add {
            display: block;
            width: 100%;
            text-align: left;
            padding: 10px;
            background: var(--color-base);
            border: none;
            border-radius: 4px;
            position: relative;
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                background: url("../svg/shopping-bag-white.svg") center
                    no-repeat;
                background-size: contain;
                position: absolute;
                z-index: 1;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            span {
                @include em(16px);
                font-weight: 400;
                color: #fff;
            }
        }
    }
}
