.header {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    height: 123px;
    // transition: height 1s ease-out;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    &.-fixed {
        position: fixed;
        transform: translateY(-62px);
        width: 100%;
        z-index: 9;
    }
    .overlay {
        opacity: 1;
    }
    &-container {
        width: 1180px;
        margin: auto;
        position: relative;
    }
    &-top {
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #e2e2e2;
        padding: 15px 0;
        height: 62px;
        display: flex;
        align-items: center;
        background: #fff;
    }
    &-heading {
        @include em(14px);
        color: #909090;
        max-width: 250px;
        border-left: 2px solid #000;
        display: inline-block;
        padding-left: 10px;
    }
    &-text {
        font-size: 1em;
        color: #000;
        font-weight: 400;
    }
    &-phoneWrp {
        margin: 0 40px;
        text-align: right;
        position: relative;
        img {
            position: absolute;
            right: -20px;
            top: 10px;
            z-index: 1;
        }
    }
    &-phone {
        @include em(24px);
        font-weight: 700;
        color: #000;
        display: inline-block;
    }
    &-phoneText {
        @include em(12px);
        font-weight: 400;
        color: #909090;
    }
    &-langWrp {
        padding-top: 3px;
    }
    &-lang {
        @include em(16px);
        font-weight: 400;
        color: #000;
    }
    &-bot {
        background: #fff;
        position: relative;
        z-index: 2;
        padding: 10px 0;
        height: 62px;
        display: flex;
        align-items: center;
    }
    &-logo {
        @include em(30px);
        font-weight: 400;
        color: #000;
        display: flex;
        b {
            font-weight: 700;
        }
    }
    &-link {
        display: inline-block;
        padding: 10px 28px;
        border-right: 1px solid #e2e2e2;
        &:last-child {
            border-right: none;
        }
    }
    &-cartLink {
        position: relative;
        display: block;
    }
    &-counter {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        min-width: 20px;
        line-height: 20px;
        background: var(--color-base);
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 999px;
        transform: translate(50%, -50%);
    }
    &-burger {
        position: absolute;
        left: -50px;
        top: 8px;
        width: 22px;
        height: 20px;
        border: none;
        background: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #000;
            position: relative;
        }
        span:before,
        span:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            left: 0;
        }
        span:before {
            top: -8px;
        }
        span:after {
            bottom: -8px;
        }
    }
}
@media screen and (max-width: 1281px) {
    .header {
        &-container {
            max-width: 1090px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .header {
        &-container {
            max-width: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            .row {
                width: 100%;
            }
        }
        &-burger {
            position: static;
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 991px) {
    .header {
        display: none;
    }
}
