.hero {
    position: relative;
    height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.-aic {
        align-items: center;
    }
    .overlay {
        opacity: 1;
    }
    &-video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-videoHidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        object-fit: cover;
        display: block;
        opacity: 0;
    }
    &-playBtn {
        border: none;
        background: transparent;
        padding: 0;
        margin-top: 25px;
    }
    &-inner {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
    }
    &-title {
        @include em(60px);
        font-weight: 700;
        color: #fff;
        text-shadow: 0 3px 6px rgba(#000, 0.74);
        margin-bottom: 30px;
    }
    &-subtitle {
        @include em(36px);
        font-weight: 400;
        color: #fff;
        &.-mb {
            margin-bottom: 20px;
        }
    }
    &-text {
        @include em(24px);
        font-weight: 400;
        color: #fff;
        text-shadow: 0 3px 6px rgba(#000, 0.76);
        margin-top: 20px;
        display: block;
    }
    &-price {
        @include em(80px);
        font-weight: 700;
        color: #fff;
        margin-top: 10px;
        text-shadow: 0 3px 6px rgba(#000, 0.76);
    }
}
// @media screen and (max-width: 1200px) {
//     .hero {
//         &.-home {
//             display: none;
//         }
//     }
// }
@media screen and (max-width: 768px) {
    .hero {
        align-items: center;
        padding-bottom: 0;
        height: 100vh;
        &.-reports-inner {
            .hero-text {
                text-align: left;
                display: block;
                margin-left: 10px;
                margin-right: 10px;
                @include em(16px);
            }
        }
        &-price,
        &-text {
            display: none;
        }
        &-title {
            @include em(40px);
            text-align: left;
        }
        &-subtitle {
            text-align: left;
            @include em(24px);
            margin-top: 15px;
        }
        &-inner {
            padding: 0 10px;
        }
    }
}
