.heroForm {
    width: 1070px;
    margin: auto;
    background: #fff;
    border-radius: 14px;
    padding: 25px;
    text-align: left;
    margin-top: 40px;
    &-title {
        @include em(36px);
        font-weight: 700;
        color: #000;
        margin-bottom: 20px;
    }
    &-input {
        box-sizing: border-box;
        border: 1px solid #D6D6D6;
        border-radius: 4px;
        padding: 20px 30px;
        @include em(16px);
        font-weight: 400;
        color: #000;
        width: 330px;
        &:focus {
            border: 1px solid var(--color-base);
        }
    }
    &-inputWrp {
        display: flex;
        justify-content: space-between;
    }
    &-button {
        border: none;
        background: var(--color-base);
        border-radius: 4px;
        width: 330px;
        text-align: left;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 30px;
    }
}
@media screen and (max-width: 1200px) {
    .heroForm {
        width: auto;
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 769px) {
    .heroForm {
        display: none;
    }
}