.menu {
    position: relative;
    background: #fff;
    z-index: 3;
    &-headingWrp {
        position: relative;
        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-headingOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(#000, 0.3);
    }
    &-heading {
        @include em(56px);
        color: #fff;
        font-weight: 400;
        position: relative;
        z-index: 2;
        padding: 40px 0;
    }
    &-bot {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    &-list {
        height: 100%;
        padding-left: 18px;
        border-left: 1px solid rgba(#707070, 0.1);
    }
    &-listItem {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            @include em(16px);
            font-weight: 400;
            color: #404040;
        }
    }
    .col:first-child {
        .menu-list {
            padding-left: 0;
            border-left: 0;
        }
    }
}