.mob-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    z-index: 10;
    background: #fff;
    display: none;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    &-logo {
        @include em(20px);
        font-weight: 700;
        color: #000;
        span {
            font-weight: 300;
        }
    }
    &-phone {
        margin-left: auto;
        display: flex;
        align-items: center;
        span {
            color: #000;
            font-size: 14px;
            margin-right: 8px;
        }
    }
    &-cart {
        margin-left: 20px;
        display: block;
        width: 14px;
        height: 16px;
        position: relative;
    }
    &-counter {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        min-width: 16px;
        line-height: 16px;
        background: var(--color-base);
        color: #fff;
        font-size: 10px;
        text-align: center;
        border-radius: 999px;
        transform: translate(55%, -50%);
    }
    &-burger {
        width: 22px;
        height: 20px;
        border: none;
        background: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
        span {
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #000;
            position: relative;
        }
        span:before,
        span:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            left: 0;
        }
        span:before {
            top: -8px;
        }
        span:after {
            bottom: -8px;
        }
    }
}
@media screen and (max-width: 769px) {
    .mob-header {
        display: block;
    }
}
