.mob-advs {
    display: none;
    padding: 20px 10px;
    padding-bottom: 40px;
    &.-contacts {
        display: none;
    }
    .row {
        flex-wrap: nowrap;
        margin-top: 30px;
    }
    .title,
    .text {
        padding: 0;
        text-align: left;
    }
    &-icon {
        flex-shrink: 0;
        width: 50px;
        margin-right: 15px;
    }
    &-subtitle {
        @include em(16px);
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
    }
    &-text {
        color: #000;
        font-weight: 400;
        @include em(16px);
    }
}
@media screen and (max-width: 426px) {
    .mob-advs {
        display: block;
    }
}