.mobMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    display: none;
    &-close {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        background: url('../svg/close-icon.svg') center no-repeat;
        background-size: cover;
        padding: 0;
        border: none;
    }
    &-logo {
        flex-grow: 1;
        @include em(20px);
        font-weight: 700;
        color: #000;
        span {
            font-weight: 300;
        }
    }
    &-phone {
        width: 18px;
        height: 18px;
        background: url('../svg/phone-icon.svg') center no-repeat;
        background-size: cover;
        display: block;
    }
    &-cart {
        margin-left: 40px;
        display: block;
        width: 18px;
        height: 20px;
        background: url('../svg/shopping-bag.svg') center no-repeat;
        background-size: cover;
    }
    &-top {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        box-shadow: 0 3px 6px rgba(#000, 0.1);
        background: #fff;
        position: relative;
        z-index: 1;
    }
    &-langs {
        display: flex;
        a {
            flex: 1;
            text-align: center;
            padding: 15px 0;
            border-right: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            font-weight: 700;
            @include em(16px);
            color: #000;
            &:last-child {
                border-right: none;
            }
        }
    }
    &-main {
        padding: 25px 10px;
        border-bottom: 1px solid #DBDBDB;
    }
    &-link {
        @include em(16px);
        font-weight: 400;
        color: #000;
        padding: 15px 0;
        display: inline-block;
    }
    &-botList {
        padding: 25px 10px;
        a {
            display: inline-block;
            @include em(16px);
            font-weight: 400;
            color: #000;
            padding: 15px 0;
        }
    }
}
