.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000, 0.5);
    z-index: 1;
    transition: opacity 0.4s ease;
    opacity: 0;
    display: block;
    backface-visibility: hidden;
}
@media screen and (max-width: 768px) {
    .overlay {
        opacity: 0.7;
    }
}