.reviewsSlider {
    .title {
        margin: 30px 0;
    }
    &-image {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    &-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
    &-pagination {
        text-align: center;
        padding: 35px 0;
    }
    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &.-comment {
            background: rgba(#000, 0.7);
            padding: 20px;
            padding-top: 40px;
            .reviewsSlider-text {
                margin-top: 20px;
                word-wrap: break-word;
            }
        }
        &.-video {
            text-align: center;
            padding-top: 174px;
            .reviewsSlider-place {
                max-width: 255px;
                margin: auto;
                opacity: 1;
            }
        }
    }
    &-playBtn {
        border: none;
        background: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    &-title {
        @include em(24px);
        font-weight: 700;
        color: #fff;
        &.-border {
            padding-bottom: 10px;
            position: relative;
            margin-bottom: 20px;
            &:after {
                content: '';
                width: 24px;
                height: 1px;
                background: #fff;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
    }
    &-text,
    &-place {
        @include em(16px);
        font-weight: 400;
        color: #fff;
        opacity: 0.8;
    }
    &-avatar {
        width: 112px;
        height: 112px;
        flex-shrink: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    &-nameWrp {
        width: auto;
        flex: 1;
        padding-left: 25px;
        .reviewsSlider-place {
            margin-top: 10px;
        }
    }
    &-date {
        @include em(16px);
        font-weight: 400;
        color: #fff;
        position: absolute;
        left: 20px;
        bottom: 40px;
        z-index: 1;
    }
    .col {
        flex: initial;
        position: relative;
        &.-half {
            width: 50%;
        }
        &.-full {
            width: 100%;
        }
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 10px !important;
        &-active {
            background-color: #000;
        }
    }
}
@media screen and (max-width: 1200px) {
    .reviewsSlider {
        &-nameWrp {
            padding-left: 0;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 1100px) {
    .reviewsSlider {
        display: none;
    }
}
