.similar {
    text-align: center;
    .title {
        margin-top: 30px;
        &.-mt0 {
            margin-top: 0;
        }
    }
    &-subtitle {
        text-align: center;
        @include em(16px);
        font-weight: 400;
        color: var(--color-base);
        margin-bottom: 40px;
        margin-top: 30px;
        display: inline-block;
        &.-icon {
            span {
                margin-left: 20px;
                display: inline-block;
                transform: translateY(4px);
            }
        }
    }
    &-block {
        position: relative;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        &:hover {
            .overlay {
                opacity: 1;
            }
            .similar-img {
                transform: scale(1.05);
            }
        }
    }
    &-blockInner {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
        will-change: transform;
        backface-visibility: hidden;
    }
    &-link {
        height: auto;
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding-bottom: 50px;
    }
    &-name {
        @include em(24px);
        font-weight: 700;
        color: #fff;
    }
    &-add {
        margin: auto;
        margin-bottom: 20px;
        border: none;
        background: var(--color-base);
        padding: 8px 16px;
        color: #fff;
        font-size: 1em;
        font-weight: 400;
        position: relative;
        z-index: 2;
        border-radius: 4px;
        span {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .swiper-pagination {
        position: static;
        margin-top: 50px;
        &-bullet {
            width: 12px;
            height: 12px;
            margin: 0 12px !important;
            background: transparent;
            border: 1px solid #000;
            opacity: 1;
            &-active {
                border-color: var(--color-base);
                background: var(--color-base);
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .similar {
        display: none;
        overflow: hidden;
        margin-bottom: 30px;
        &.-reports-inner {
            display: block;
        }
        &-block .overlay {
            opacity: 0 !important;
        }
        &-name {
            text-shadow: 0 0 6px #010401;
        }
        .swiper-pagination {
            margin-top: 20px;
            &-bullet {
                width: 8px;
                height: 8px;
            }
        }
    }
}
