.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px;
    @media (min-width: 1000px) {
        padding: 100px 16px;
    }
    &-icon {
        width: 66px;
        height: 66px;
        @media (min-width: 1000px) {
            width: 94px;
            height: 94px;
        }
    }
    &-title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin-top: 23px;
        margin-bottom: 22px;
        @media (min-width: 1000px) {
            font-size: 36px;
            margin-top: 37px;
        }
    }
    &-sub {
        font-size: 12px;
        font-weight: 400;
        color: #000;
        margin-bottom: 50px;
        @media (min-width: 1000px) {
            font-size: 20px;
        }
    }
    &-link {
        background: #6FB512;
        border-radius: 5px;
        color: #fff;
        padding: 10px 23px;
        font-size: 16px;
        font-weight: 400;
        box-shadow: 0 3px 16px #9CC565;
    }
}
