.reports {
    .row {
        flex-wrap: wrap;
    }
    .col {
        flex: initial;
        width: 25%;
    }
    &-link,
    &-block {
        display: block;
        width: 100%;
        height: 42vh;
        position: relative;
        overflow: hidden;
        &:hover {
            .overlay {
                opacity: 1;
            }
            .reports-img {
                transform: scale(1.05);
            }
            .reports-icon {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
        backface-visibility: hidden;
        will-change: transform;
    }
    &-name {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include em(24px);
        font-weight: 700;
        color: #fff;
        text-align: center;
        width: 70%;
    }
    &-icon {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
        opacity: 0;
        transform: translateY(30px);
    }
}
.lg-backdrop {
    background-color: rgba(#000, 0.7);
}
@media screen and (max-width: 769px) {
    .reports {
        .row {
            flex-wrap: wrap;
        }
        .col {
            width: 50%;
        }
        &-link .overlay,
        &-block .overlay {
            opacity: 0 !important;
        }
        &-name {
            @include em(18px);
            text-shadow: 0 0 6px #010401;
        }
    }
}
@media screen and (max-width: 426px) {
    .reports {
        .col {
            width: 100%;
        }
    }
}
