.tour-inner-callback {
    padding: 60px 0;
    .title {
        text-align: left;
        margin-bottom: 22px;
    }
    .row {
        justify-content: space-between;
    }
    &-inner {
        max-width: 1020px;
        margin: 0 auto;
    }
    &-input,
    &-btn {
        box-sizing: border-box;
        width: 330px;
        display: block;
    }
    &-input {
        border: 1px solid #D6D6D6;
        border-radius: 4px;
        padding: 20px 30px;
        font-size: 16px;
        font-weight: 400;
        color: #000;
    }
    &-btn {
        border: none;
        background: #67B500;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }
}
@media (min-width: 320px) {
    .tour-inner-callback {
        padding: 28px 10px;
        .title {
            text-align: center;
        }
        &-input {
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 14px;
            width: 100%;
        }
        &-btn {
            width: 100%;
            line-height: 40px;
            font-size: 14px;
        }
    }
}
@media (min-width: 1280px) {
    .tour-inner-callback {
        padding: 60px 0px;
        .title {
            text-align: left;
        }
        &-input {
            padding: 20px 30px;
            margin-bottom: 0px;
            text-align: left;
            font-size: 16px;
            width: 330px;
        }
        &-btn {
            width: 330px;
            line-height: initial;
            font-size: 16px;
        }
    }
}
