.tourDetails {
    .title {
        margin: 30px 0;
    }
    &-day {
        @include em(36px);
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;
    }
    &-text {
        @include em(20px);
        font-weight: 400;
        color: #000;
        line-height: 1.4;
    }
    &-textWrp {
        padding: 0 40px;
    }
    &-img {
        display: block;
        width: 50vw;
        height: 84vh;
        object-fit: cover;
    }
}
@media screen and (max-width: 1024px) {
    .tourDetails {
        &-img {
            height: 50vh;
            width: 100%;
        }
        .col {
            order: 1;
            &.-aic {
                order: 2;
            }
        }
        &-textWrp {
            padding: 30px 20px;
        }
        &-day {
            font-size: 1.25em;
            margin-bottom: 16px;
        }
    }
}
