.tour-extras {
    margin-bottom: 67px;
    .title {
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 56px;
        &:after {
            content: '';
            width: 62px;
            height: 2px;
            background: #8ADC1D;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    .row {
        justify-content: center;
        flex-wrap: wrap;
    }
    &-item {
        width: 305px;
        margin: 15px;
    }
    &-img-wrp {
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 40%;
            background: linear-gradient(to top, rgba(#000, 0.8), rgba(#000, 0));
            position: absolute;
            bottom: 0;
            left: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-price {
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-weight: 700;
        color: #fff;
        z-index: 2;
        font-size: 24px;
    }
    &-name {
        margin: 12px 0;
        font-size: 16px;
        font-weight: 400;
        color: #000;
    }
    &-btn {
        width: 100%;
        background: #67B500;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0;
        border: none;
        &.-added {
            opacity: 0.6;
        }
    }
}
@media (min-width: 320px) {
    .tour-extras {
        margin-top: 35px;
        margin-bottom: 35px;
        .row {
            display: inline-flex;
            padding: 0 10px;
            flex-wrap: nowrap;
        }
        .title {
            margin-bottom: 20px;
        }
        &-container {
            display: flex;
            overflow-x: auto;
            margin-top: 20px;
        }
        &-item {
            flex-shrink: 0;
            width: 75vw;
            margin: 0;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-img-wrp {
            height: 140px;
        }
        &-btn {
            padding: 10px 0;
        }
    }
}
@media (min-width: 768px) {
    .tour-extras {
        &-item {
            width: 305px;
        }
    }
}
@media (min-width: 1280px) {
    .tour-extras {
        margin-bottom: 67px;
        .row {
            display: flex;
            width: 100%;
            padding: 0;
            flex-wrap: wrap;
        }
        .title {
            margin-bottom: 56px;
        }
        &-item {
            margin: 15px;
            margin-right: 15px;
            &:last-child {
                margin-right: 15px;
            }
        }
        &-img-wrp {
            height: 140px;
        }
        &-btn {
            padding: 10px 0;
        }
    }
}
