.tour-inner-header {
    position: sticky;
    top: 123px;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
    &-container {
        max-width: 1180px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
    }
    &-link {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        display: inline-flex;
        align-items: center;
        padding-right: 28px;
        margin-right: 28px;
        border-right: 1px solid #E2E2E2;
        align-self: stretch;
        &:last-of-type {
            padding-right: 0;
            margin-right: 0;
            border: none;
        }
    }
    &-price {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        display: inline-flex;
        align-items: center;
        align-self: stretch;
        padding-right: 20px;
        padding-left: 20px;
        border-left: 1px solid #E2E2E2;
    }
    &-cart-btn {
        border: none;
        background: #67B500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 18px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        width: 250px;
    }
    &-cart-wrp {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}
@media (min-width: 320px) {
    .tour-inner-header {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        width: 100%;
        &-price {
            font-size: 16px;
            flex-grow: 1;
            text-align: center;
        }
        &-link {
            display: none;
        }
        &-cart-wrp {
            margin-left: 0;
            width: 100%;
        }
        &-cart-btn {
            width: 50%;
        }
    }
}
@media (min-width: 1280px) {
    .tour-inner-header {
        position: sticky;
        bottom: auto;
        left: auto;
        top: 61px;
        &-price {
            font-size: 24px;
            flex-grow: initial;
            text-align: left;
        }
        &-link {
            display: flex;
        }
        &-cart-wrp {
            margin-left: auto;
            width: auto;
        }
        &-cart-btn {
            width: 260px;
        }
    }
}
