.mobile-reviews {
    .title {
        margin-bottom: 20px;
    }
    .swiper-pagination {
        position: static;
        padding: 20px 0;
    }
    .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .reviewsSlider-title {
        font-size: 1.25em;
    }
}

@media (min-width: 1100px) {
    .mobile-reviews {
        display: none;
    }
}
