.tourPrice {
    .title {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &-block {
        margin: 0 50px;
        p {
            @include em(20px);
            font-weight: 400;
            color: #646464;
            max-width: 300px;
            position: relative;
            margin-bottom: 60px;
            line-height: 1.4;
            &:before {
                content: '';
                width: 9px;
                height: 9px;
                border-radius: 100%;
                background: var(--color-base);
                position: absolute;
                top: 0;
                left: -40px;
            }
        }
    }
    &-price {
        @include em(36px);
        font-weight: 700;
        color: #000;
        text-align: center;
        position: relative;
        padding-top: 20px;
        margin-bottom: 50px;
        &:before {
            content: '';
            width: 60px;
            height: 2px;
            background: var(--color-base);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media (max-width: 769px) {
    .tourPrice {
        padding: 0 10px;
        &-price {
            margin-bottom: 35px;
            font-size: 20px;
        }
        &-block p {
            margin-bottom: 25px;
            padding-left: 30px;
            font-size: 16px;
            &:before {
                left: 0;
            }
        }
        &-block {
            margin: 0;
            width: 100%;
        }
    }
}
