.tourProgram {
    text-align: center;
    h3.title {
        margin-top: 30px;
    }
    p.title {
        margin-bottom: 65px;
    }
    &-icon {
        width: 120px;
        height: 120px;
        margin: auto;
        border: 1px solid var(--color-base);
        background: #fff;
        border-radius: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-text p {
        @include em(20px);
        font-weight: 400;
        color: #646464;
        line-height: 27px;
        max-width: 95%;
        margin: auto;
    }
    &-line {
        position: absolute;
        width: 100%;
        left: 0;
        top: 60px;
    }
    &-map {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        background: #EAEAEA;
        h1 {
            @include em(200px);
            font-weight: 700;
            opacity: 0.1;
        }
    }
    .row {
        max-width: 1180px;
        margin: auto;
        margin-bottom: 45px;
        position: relative;
    }
    .col {
        position: relative;
        z-index: 1;
    }
}
@media screen and (max-width: 769px) {
    .tourProgram {
        .col {
            margin-bottom: 80px;
        }
        &-line {
            display: none;
        }
        &-text p {
            @include em(16px);
            line-height: 1.4;
        }
        &-map {
            h1 {
                font-size: 2rem;
            }
        }
        &-icon {
            width: 80px;
            height: 80px;
            img {
                max-width: 30px;
            }
        }
    }
}