.reviews {
    &-row {
        text-align: center;
        .title {
            margin-top: 30px;
        }
        .row {
            border-top: 1px solid #E2E2E2;
            border-bottom: 1px solid #E2E2E2;
        }
        .col {
            border-right: 1px solid #E2E2E2;
            height: 58vh;
        }
    }
    &-link {
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 30px;
        span {
            @include em(16px);
            font-weight: 400;
            color: var(--color-base);
            display: inline-block;
            margin-left: 30px;
        }
    }
    &-name {
        @include em(16px);
        font-weight: 700;
        color: #000;
        margin-top: 34px;
        margin-bottom: 20px;
    }
    &-text {
        @include em(16px);
        font-weight: 400;
        color: #000;
        max-width: 450px;
        margin-bottom: 55px;
    }
    &-avatar img {
        display: block;
        width: 116px;
        height: 116px;
        object-fit: cover;
        border-radius: 100%;
        margin: auto;
    }
    &-btn {
        border: none;
        background: transparent;
        padding: 0;
        display: inline-flex;
        align-items: center;
        span {
            display: inline-block;
            margin-left: 30px;
            font-weight: 700;
            color: #000;
            @include em(16px);
        }
    }
}
@media screen and (max-width: 1200px) {
    .reviews {
        &-row {
            &.-tourInner {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 769px) {
    .reviews {
        &-text {
            margin-bottom: 30px;
            padding: 0 10px;
        }
        &-link {
            display: none;
        }
        &-linkWrp {
            display: block;
            padding: 0 10px;
            .reviews-link {
                background: var(--color-base);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                span {
                    color: #fff;
                }
            }
        }
    }
}