.homeTours {
    &-title {
        margin: 50px 0;
        padding: 0 30px;
        @include em(40px);
        font-weight: 700;
    }
    &-block {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    &-block:hover {
        .overlay {
            opacity: 1;
        }
        .homeTours-img {
            transform: scale(1.05);
        }
    }
    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &.-aife {
            align-items: flex-end;
        }
    }
    &-label {
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 0;
        border-radius: 0 30px 30px 0;
        padding: 10px 30px;
        color: #fff;
        @include em(14px);
        font-weight: 700;
        &.-pink {
            background: #ff7775;
        }
        &.-violet {
            background: #b9279a;
        }
        &.-green {
            background: #05c8aa;
        }
    }
    &-nameWrp {
        padding: 0 10px;
        padding-bottom: 30px;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 2;
        text-align: center;
    }
    &-name {
        @include em(24px);
        font-weight: 700;
        color: #fff;
        line-height: 33px;
        text-shadow: 0 0 6px #010401;
    }
    &-add {
        border-radius: 4px;
        border: none;
        background: var(--color-base);
        padding: 8px 16px;
        color: #fff;
        font-size: 1em;
        font-weight: 400;
        position: relative;
        z-index: 2;
        span {
            display: inline-block;
            margin-right: 20px;
        }
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
        will-change: transform;
        backface-visibility: hidden;
        &.-large {
            height: 100vh;
        }
        &.-small {
            height: 50vh;
        }
    }
    &-row {
        flex-wrap: wrap;
        .col {
            flex: initial;
            width: 33.3%;
        }
    }
}
@media screen and (max-width: 1441px) {
    .homeTours {
        &-name {
            line-height: 1.2;
        }
    }
}
@media screen and (max-width: 1200px) {
    .homeTours {
        &-nameWrp {
            padding: 20px;
            padding-top: 0;
            flex-wrap: wrap;
        }
        &-add {
            white-space: nowrap;
        }
    }
}
@media screen and (max-width: 1100px) {
    .homeTours {
        &-add {
            margin-top: 20px;
        }
        &-block {
            .overlay {
                opacity: 0 !important;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .homeTours {
        &-row {
            .col {
                width: 33.3%;
            }
        }
    }
}
@media screen and (max-width: 769px) {
    .homeTours {
        &-name {
            font-size: 1em;
        }
        &-row {
            .col {
                width: 50%;
            }
        }
        &-title {
            @include em(30px);
            padding: 0 10px;
            margin: 30px 0;
        }
    }
}
@media screen and (max-width: 426px) {
    .homeTours {
        &-row {
            .col {
                width: 100%;
            }
        }
        &-img {
            &.-small,
            &.-large {
                height: 45vh;
            }
        }
        &-nameWrp {
            text-align: center;
            display: block;
            padding-bottom: 30px;
        }
        &-name {
            display: block;
            max-width: 100%;
        }
    }
}
