<template>
    <div class="tour-inner-header-cart-wrp">
        <p class="tour-inner-header-price">{{ price }} $</p>
        <button class="tour-inner-header-cart-btn" @click.prevent="addToCart" :disabled="isButtonDisabled">
            {{ buttonText }}
            <img src="/svg/shopping-bag-white.svg" alt="Cart icon">
        </button>
    </div>
</template>

<script>
    export default {
        props: ['slug', 'price', 'inCart'],
        data () {
            return {
                isItemAlreadyInCart: this.inCart === 1,
                buttonText: this.inCart ? 'Добавлено' : 'В корзину',
                isLoading: false,
            }
        },
        computed: {
            isButtonDisabled() {
                return this.isLoading || this.isItemAlreadyInCart
            }
        },
        methods: {
            addToCart() {
                this.isLoading = true
                this.buttonText = 'Подождите ...'
                axios.post(`/tours/${this.slug}/add_to_cart`)
                    .then(() => {
                        window.location.reload()
                    })
                    .finally(() => this.isLoading = false)
            }
        }
    }
</script>
