<template>
    <div class="cartAddModal">
        <div class="cartAddModal-overlay"></div>
        <div class="cartAddModal-inner">
            <h6 class="cartAddModal-title">C этим туром, также приобретают</h6>
            <ul class="cart-list">
                <li class="cart-listItem">
                    <label class="cart-label">
                        <input type="checkbox">
                        <span class="cart-checkmark"></span>
                        <span class="cart-checkboxText">Полет на воздушном шаре</span>
                    </label>
                    <p class="cart-extraPrice">-</p>
                </li>
                <li class="cart-listItem">
                    <label class="cart-label">
                        <input type="checkbox">
                        <span class="cart-checkmark"></span>
                        <span class="cart-checkboxText">БАО</span>
                    </label>
                    <p class="cart-extraPrice">15$</p>
                </li>
                <li class="cart-listItem">
                    <label class="cart-label">
                        <input type="checkbox">
                        <span class="cart-checkmark"></span>
                        <span class="cart-checkboxText">Экскурсия по Алматы</span>
                    </label>
                    <p class="cart-extraPrice">45$</p>
                </li>
                <li class="cart-listItem">
                    <label class="cart-label">
                        <input type="checkbox">
                        <span class="cart-checkmark"></span>
                        <span class="cart-checkboxText">Полет на воздушном шаре</span>
                    </label>
                    <p class="cart-extraPrice">125$</p>
                </li>
            </ul>
            <div class="cartAddModal-remove">
                <button>Удалить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'cart-upsell-item-list',
        props: ['cartItems'],
    }
</script>
