<template>
    <div class="cart-left">
        <div class="cartRemove">
            <div class="overlay"></div>
            <div class="cartRemove-inner">
                <h4 class="cartRemove-title">Удалить путешествие?</h4>
                <div class="cartRemove-btnWrp">
                    <button class="cartRemove-btn" @click.prevent="removeFromCart">Да</button>
                    <button class="cartRemove-btn -inverted" @click.prevent="closeModal">Нет</button>
                </div>
            </div>
        </div>
        <div class="cart-item" v-for="(item, rowId) in cartItems">
            <button class="cart-remove" @click.prevent="showModal(rowId)">
                <img src="/svg/remove-icon.svg" alt="Kazakh Travel icon">
            </button>
            <div class="cart-img">
                <img :src="'/' + item.options.image" alt="Kazakh Travel image">
            </div>
            <div class="cart-itemRight">
                <div class="cart-nameWrp">
                    <p class="cart-title">
                        {{ item.name}}
                    </p>
                    <p class="cart-price">{{item.price}}$</p>
                </div>
                <div class="cart-mobAdd" v-show="item.options.upsell_list.length > 0"><button @click.prevent="showMobileUpsellList(rowId)">Добавить к туру</button></div>
                <div class="cartAddModal" :id="'cartAddModal-' + rowId" v-show="item.options.upsell_list.length > 0">
                    <div class="cartAddModal-overlay"></div>
                    <div class="cartAddModal-inner">
                        <h6 class="cartAddModal-title">C этим туром, также приобретают</h6>
                        <ul class="cart-list">
                            <li class="cart-listItem" v-for="upsellItem in item.options.upsell_list">
                                <label class="cart-label">
                                    <input
                                        type="checkbox"
                                        :checked="item.options.chosen_upsell_titles.includes(upsellItem.title.trim())"
                                        @change="onCheckboxChange(item.options.slug, upsellItem.title, upsellItem.price, $event.target.checked)"
                                    >
                                    <span class="cart-checkmark"></span>
                                    <span class="cart-checkboxText">{{ upsellItem.title }}</span>
                                </label>
                                <p class="cart-extraPrice">{{ upsellItem.price }} $</p>
                            </li>
                        </ul>
                        <div class="cartAddModal-remove">
                            <button @click.prevent="showModal(rowId)">Удалить</button>
                        </div>
                    </div>
                </div>
                <p class="cart-title" v-if="item.options.upsell_list.length > 0">C этим туром, также приобретают</p>
                <ul class="cart-list">
                    <li class="cart-listItem" v-for="upsellItem in item.options.upsell_list">
                        <label class="cart-label">
                            <input
                                type="checkbox"
                                :checked="item.options.chosen_upsell_titles.includes(upsellItem.title.trim())"
                                @change="onCheckboxChange(item.options.slug, upsellItem.title, upsellItem.price, $event.target.checked)"
                            >
                            <span class="cart-checkmark"></span>
                            <span class="cart-checkboxText">{{ upsellItem.title }}</span>
                        </label>
                        <p class="cart-extraPrice">{{ upsellItem.price }} $</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import gsap from 'gsap'

    export default {
        props: ['cartItems'],
        data () {
            return {
                rowId: null,
            }
        },
        methods: {
            showModal(rowId) {
                this.rowId = rowId
                this.closeMobileUpsellList(rowId)
                const modal = document.querySelector(".cartRemove")
                modal.classList.add('-open')
            },
            closeModal() {
                this.rowId = null
                const modal = document.querySelector(".cartRemove")
                modal.classList.remove('-open')
            },
            removeFromCart() {
                if (this.rowId === null) {
                    return
                }

                axios.post(`/cart/${this.rowId}/remove`)
                    .then((response) => {
                        window.location.reload()
                    })
                    .catch((error) => {
                        console.log(error.response)
                    })
            },
            showMobileUpsellList(rowId) {
                this.rowId = rowId

                const addModal = document.getElementById(`cartAddModal-${rowId}`)
                const addOverlay = addModal.querySelector('.cartAddModal-overlay')
                const addInner = addModal.querySelector('.cartAddModal-inner')

                const addTl = gsap.timeline()

                addTl
                    .fromTo(addModal,
                        {css: {'display': 'none'}},
                        {css: {'display':'flex'}, duration: 0.1}
                    )
                    .fromTo(addOverlay,
                        {opacity: 0},
                        {opacity: 1, duration: 0.2},
                        0.2
                    )
                    .fromTo(addInner,
                        {yPercent: 110},
                        {yPercent: 0, duration: 0.4, ease: 'power2.out'},
                        0.2
                    )
                addOverlay.addEventListener('click', function () {
                    addTl.reversed(!addTl.reversed())
                })
            },
            closeMobileUpsellList(rowId) {
                this.rowId = rowId

                const addModal = document.getElementById(`cartAddModal-${rowId}`)
                const addOverlay = addModal.querySelector('.cartAddModal-overlay')
                const addInner = addModal.querySelector('.cartAddModal-inner')

                const addTl = gsap.timeline()

                addTl
                    .fromTo(addModal,
                        {css: {'display': 'none'}},
                        {css: {'display':'flex'}, duration: 0.1}
                    )
                    .fromTo(addOverlay,
                        {opacity: 0},
                        {opacity: 1, duration: 0.2},
                        0.2
                    )
                    .fromTo(addInner,
                        {yPercent: 110},
                        {yPercent: 0, duration: 0.4, ease: 'power2.out'},
                        0.2
                    )

                addTl.reversed(!addTl.reversed())
            },
            onCheckboxChange(slug, title, price, checked) {
                if (checked) {
                    axios.post(`/tours/${slug}/add_upsell_item`, {
                        title: title,
                        price: price
                    })
                        .then(() => {
                            window.location.reload()
                        })
                } else {
                    axios.post(`/tours/${slug}/remove_upsell_item`, {
                        title: title,
                        price: price
                    })
                        .then(() => {
                            window.location.reload()
                        })
                }
            }
        }
    }
</script>
