<template>
    <div class="tour-extras-item">
        <div class="tour-extras-img-wrp">
            <img :src="'/' + image" :alt="title">
            <span class="tour-extras-price">{{ price }}$</span>
        </div>
        <p class="tour-extras-name">{{ title }}</p>
        <button class="tour-extras-btn" v-if="!isItemAlreadyInCart" @click.prevent="addToCart">{{ buttonText }}</button>
    </div>
</template>

<script>
    export default {
        props: ['image', 'title', 'price', 'tourSlug', 'inCart'],
        data () {
          return {
              isLoading: false,
              buttonText: 'Добавить в корзину',
              isItemAlreadyInCart: this.inCart === 1,
          }
        },
        methods: {
            addToCart() {
                this.isLoading = true
                axios.post(`/tours/${this.tourSlug}/add_upsell_item`, {
                    title: this.title,
                    price: this.price
                })
                    .then(() => {
                        window.location.reload()
                    })
                    .catch((error) => {
                        console.log(error.response)
                    })
                    .finally(() => this.isLoading = false)
            }
        }
    }
</script>
