.about-staff
    max-width: 1210px
    margin: 70px auto
    .title
        margin-bottom: 70px
    .row
        flex-wrap: wrap
    &-item
        width: 226px
        margin-bottom: 20px
        margin-right: 20px
        position: relative
        &:nth-child(5n)
            margin-right: 0
    &-info
        position: absolute
        z-index: 1
        width: 100%
        bottom: 0
        left: 0
        background: rgba(#000, 0.5)
        padding: 15px 18px
    &-img
        width: 226px
        height: 278px
        object-fit: cover
    &-name
        font-size: 20px
        font-weight: 400
        color: #fff
        margin-bottom: 4px
    &-position
        font-size: 16px
        font-weight: 400
        color: #fff
@media (min-width: 320px)
    .about-staff
        margin-top: 30px
        .title
            margin-bottom: 30px
        &-inner
            display: flex
            overflow-x: auto
        .row
            display: inline-flex
            flex-wrap: nowrap
            padding: 0 10px
        &-item
            width: 226px
            &:nth-child(5n)
                margin-right: 20px
            &:last-child
                margin-right: 0
@media (min-width: 1280px)
    .about-staff
        margin-top: 70px
        .title
            margin-bottom: 70px
        &-inner
            overflow-x: hidden
        .row
            display: flex
            padding: 0
            flex-wrap: wrap
        &-item
            width: 20%
            margin-right: 0
            padding-right: 20px
            &:nth-child(5n)
                margin-right: 0
        &-info
            width: calc(100% - 20px)
